.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 3rem;

  &__title {
    display: block;
    color: $font-primary;
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    display: block;
    color: $font-secondary;
    
    font-size: 3rem;
    margin-top: 1rem;

    &--clarification {
      font-size: 2rem;
      font-style: italic;
    }
  }

  .personal-links {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      margin: 2rem;
      img {
        height: 3rem;
      }
    }
  }
}

